html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title OFAJ Document Manager
        include styles.pug
        block styles

    body
        include waitoverlay.pug

        header
            include navbar.pug

        //- main.grey.lighten-5
        main
            block content

        //- include footer.pug

        include scripts.pug
        block scripts