html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title OFAJ
        base(href="/")
        include components/styles.pug



    body
        include components/waitoverlay.pug

        main.valign-wrapper.sky-blue
            .row

                .col.offset-s1.s10.z-depth-5.card-panel.rounded

                    .container
                        form#loginForm.row(v-on:submit.prevent="onSubmit")
                            .col.s12
                                h4.header.light.center OFAJ Assistant
                                h5.center Login Test
                            
                            .col.s12
                                label User    
                                select.browser-default(name="username", v-model="user", ref="userSelect")
                                    option(value="", disabled, selected) Choose your user
                                    option(:value="user._id",  v-for="user in users" :key="user._id") {{user.name}}

                            .col.s12.center
                                button.btn.btn-large.waves-effect.waves-light.blue.curvy(type="submit") Login
                                
                            .col.s12.center
                                a.btn.btn-large.btn-flat.waves-effect.waves-light(href='/user/create') Register
                                

        include components/scripts.pug
            script(src="/js/init/login.js")